<div class="main-container">
  <div class="w-full h-[65px] items-center bg-white flex justify-between px-10 top-menu">
    <div>
      <p class="font-bold text-xl">
        iCMS Dashboard
      </p>
    </div>
    <div>
      <p-button [rounded]="true" [text]="true" size="large" (click)="showNotifications()">
        <i class="pi pi-bell" style="font-size: 1.5rem; color: black;"></i>
        <span *ngIf="notificationCount > 0" class="notification-badge">{{ notificationCount }}</span>
      </p-button>
      <p-button [rounded]="true" [text]="true" size="large">
        <i class="pi pi-user" style="font-size: 1.5rem; color: black;"></i>
      </p-button>
    </div>
  </div>


  <!-- Notification start -->

  <div class="notification-container" *ngIf="viewNotifications">
    <div class="notification-header">
      <h2>Notifications</h2>
      <div class="top-notification-actions">
        <button class="top-button" (click)="fetchNotifications()" [ngClass]="{'active': Unread}">Unread</button>
        <button class="top-button" (click)="ReadNotification()" [ngClass]="{'active': Read}">Read</button>
      </div>
    </div>
    <div class="notification-list">

      <div>
        <div *ngIf="Read">
        <div *ngFor="let notification of notifications; let i = index" class="notification-box">
          <p style="color: black; text-align: left; font-size:10px;">{{ notification.email }}</p>
          <p>{{ notification.alert }}</p>
          <div class="notification-actions" *ngIf="UnreadCount>0 && ReadCount>0" style="margin-left:40%;">
            <button class="action-button" (click)="markAsUnread(i)" >Unread</button>
            <p style="color: black; text-align: right;font-size:10px;">{{ notification.created_at }}</p>
          </div>
        </div>
      </div>

      <div *ngIf="Unread">
        <div *ngFor="let notification of notifications; let i = index" class="notification-box" >
          <p style="color: black; text-align: left; font-size:10px;">{{ notification.email }}</p>
          <p>{{ notification.alert }}</p>
          <div class="notification-actions" *ngIf="notificationCount>0" style="margin-left:45%;">
            <button class="action-button" (click)="markAsRead(i)">Read</button>
            <p style="color: black; text-align: right; font-size:10px;">{{ notification.created_at }}</p>
          </div>
        </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Notification end -->






</div>


